body{
    background: #D13874;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    font-style: italic;
}
.txt-center {
    text-align: center;
}
.intro {
    margin-top: 60px;
    margin-left: 485px;
}
.intro__img{
    height:150px;
    width: 150px;
    object-fit: contain;
}
button{
    background-color: aqua;
    font-style:normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}